<mat-nav-list>
    <div class="logo ">
        <img src="https://images-platform.99static.com//PV6o60nos8elP2onZqDhUpIdHo0=/188x1292:735x1839/fit-in/500x500/99designs-contests-attachments/136/136523/attachment_136523483"  height="50px"  alt="Medic App">
       <h2 style="color: blue;">Company</h2>
    </div> 
        <mat-divider></mat-divider>
        <h2 style="color: gray;">Employees</h2>
        <a mat-list-item routerLink="/employees" routerLinkActive="list-item-active">
             <mat-icon>employees </mat-icon> Employees
        </a>
        <a mat-list-item routerLink="work in progress" routerLinkActive="list-item-active">
            <mat-icon>work in progress</mat-icon> work-in progress
        </a>
        <a mat-list-item routerLink="departments" routerLinkActive="list-item-active">
            <mat-icon>departments</mat-icon> Departments
       </a>
       <a mat-list-item routerLink="salaries" routerLinkActive="list-item-active">
        <mat-icon>salaries</mat-icon> Salaries
   </a>
   <a mat-list-item routerLink="tasks" routerLinkActive="list-item-active">
    <mat-icon>tasks</mat-icon> Tasks 
</a>

<a mat-list-item routerLink="managers" routerLinkActive="list-item-active">
    <mat-icon>managers</mat-icon> Managers
</a> 

<a mat-list-item routerLink="Service-pages" routerLinkActive="list-item-active">
    <mat-icon>Service-pages</mat-icon> Service-pages
    <!-- <a mat-sub-list-item routerLink="invoices" routerLinkActive="list-item-active"> -->
        <!-- <mat-icon>invoices</mat-icon>invoices -->

    
    <mat-select>
        <a mat-list-item routerLink="Invoices" routerLinkActive="list-item-active">
        <mat-option value="Invoices">Invoices</mat-option>
        </a>
        <a mat-list-item routerLink="pricing" routerLinkActive="list-item-active">
        <mat-option value="pricing">Pricing</mat-option>
        </a>
    </mat-select> 
</a>

<!-- <a mat-list-item routerLink="session" routerLinkActive="list-item-active">
    <mat-icon>session</mat-icon> session
    <mat-select>
        <a mat-list-item routerLink="sign-in" routerLinkActive="list-item-active">
        <mat-option value="sign-in">sign-in</mat-option>
        </a>
        <a mat-list-item routerLink="sign-up" routerLinkActive="list-item-active">
        <mat-option value="sign-up">sign-up</mat-option>
        </a>
    </mat-select> 

</a> -->
<div class="wrapper">
    <div style="color: gray;">settings</div>
</div><br>

<div class="wrapper">
    <div style="color: gray;">FAQ & Support</div>
</div>

</mat-nav-list>
